/** Corpo Geral **/

body {
    margin: 0;
    
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/** Animação **/

.zoom {
    overflow: hidden;
}

.zoom img {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


/** Header **/

header {
    background-color: #C4C4C4;
    margin: 10px auto;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    width: 100vw; 
}


.title{
    margin-left: 50px; 
}

.menu {
    width: 85%; 
    text-align: right;
    
}

.menu a {
    margin-right: 15px;
    text-decoration: none;
} 

/** Imagem e Conteúdo **/

.pessoal img {
    border-radius: 45%;
    margin-left: 15vw;
    margin-top: 2vh;
}

.pessoal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}


.subtitulo {
    width: 50%;
    margin-left: 3%; 
   } 

/** Hobbies e Séries **/

img {
    border-radius: 0;
}

.itens {
    align-items: center;
}

.lista {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
}

.itemUnico {
    flex: 1;
    margin: 5px;
    max-width: 100px;
}

.card {
    max-width: 90vw;
    margin: 5px;
}

.global {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    max-width: 90vw; 
    justify-content: center;
}

.esq {
    text-align: right;
}

/** Footer **/

footer {
    background-color: #C4C4C4;
    margin: 10px auto;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw; 
}

.icon {
    margin: 20px;
}

.contato {
    text-align: right;
    margin-left: 80%;
}

a {
    text-decoration: none;
} 